{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Acerca de Nosotros</h1>
            <p class="card-text">Este es un blog dedicado a los animales y fue creado para practicar el desarrollo web con Django.</p>
            <p class="card-text">Aquí encontrarás artículos y recursos sobre diferentes especies, su cuidado y conservación.</p>
            <p class="card-text">Gracias por visitarnos y esperamos que disfrutes de nuestro contenido.</p>
        </div>
    </div>
</div>
{% endblock content %}